
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root{
    --primary-color: #3A3A3A;
}
.display-flex {
    display: flex;
    justify-content: space-between;
}


/* header section style  */

.navbar{
   
   margin: 60px 120px 0;
   align-items: center;
   color: var(--primary-color);
   font-size: 1.5rem;
   font-weight: bold;
}
.nav-links li {
    list-style: none;
}
.nav-links li a{
    margin-right: 2.125rem;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}
#icon{
    color: black;
    font-size: 1.5rem;
}
/* hero section style  */
.hero{
    margin: 0px 120px;
    padding-top: 80px;
    align-items: center;
}
.hero-container{
    
    align-items: center;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.hero-content{
    color: var(--primary-color);
}
.hero-container h1{
     font-size: 3.25rem;
     margin-bottom: 1rem;
     font-weight: bold;
     color: var(--primary-color);
}
.hero-container p{
    font-size: 1rem;
    width: 60%;
    font-weight: 600;
    margin-bottom: 1rem;
}
.btn{
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 41px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.btn:hover{
    box-shadow: 0 0 25px #E02C6D;
    font-size: 1.03rem;
}
.hero-img{
    padding-right: 32px;
}
.socials{
    margin: 80px 165px 0;
}
.socials-items{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 32px 62px;
    border-top: 2px solid rgba(0,0,0,0.08);
    border-bottom: 2px solid rgba(0,0,0,0.08);
    box-shadow: 0px -3px 2px rgba(0,0,0,0.08), 0px 3px 2px rgba(0,0,0,0.08);
}
/* items section style */

.items{
    margin: 100px 196px 0;
    
}
.items h2{
    text-align: center;
    color: var(--primary-color);
    font-size: 1.75rem;
    font-weight: 600;
}
.items-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.item-card {
   max-height: 476px;
   max-width: 329px;
   text-align: left;
   padding: 17px 14px;
   background-color: white;
   box-shadow: 0 0 5px #3a3a3a71;
  direction: 0.3s ease;
}
.item-card:hover{
    box-shadow: 0 0 5px #FB8200;
}
.item-card h2{
    color: black;
    text-align: left;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 16px 0 6px;
}
.price{
    font-size: 1.5rem;
    margin-bottom: 9px;
}
.rate{
    color: #FB8200;
    margin-bottom: 10px;
}
.rate span{
    color: var(--primary-color);
}
.discription{
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--primary-color);
}
.see{
    text-align: right;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: bold;
    margin: 50px 80px 0 0;
}
/* featured section style  */
.featured-container{
    margin: 100px 178px 100px 165px;
    gap: 85px;
}
.featured-container{
    align-items: center;
}
.featured-content h1{
    color: #0A0826;
    font-size: 2.375rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.featured-content p{
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 24px;
    max-width: 60%;
    margin-bottom: 16px;
}
.featured-content button{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
footer{
    background-color: #0A0826;
    border: 1px solid ;
}
.footer{
    align-items: center;
    text-align: center;
    margin: 60px auto;
    /* border: 1px solid red; */
}
.footer-content, h1{
    color: white;
    margin-bottom: 16px;
}

